body{ background-color: aqua;}

nav{
    width: 100%;
    padding: 1rem 5%;
    background-color: gray;
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_kep{
    width: 50px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a{
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.btn{
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}